input {
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  border: 1px groove black;
  text-align: center;
  padding: 5px;
  margin: 10px;
}

input:focus {
  outline-color: blueviolet;
}

button {
  background-color: darkolivegreen;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  margin-top: 20px;
  border-radius: 20px;
  border: none;
}

button:hover {
  background-color: darkcyan;
  outline-color: green;
}

.error {
  border: 1px solid red;
}
